<div class="container">
  <p>
    <strong>User:</strong>
    <%= @message.id %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= @message.data %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @message.created_at %>
  </p>
</div>