<div class="container">
    <p>
      <strong>Title:</strong>
      <%= @notification.title %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @notification.created_at %>
    </p>
    <p>
      <strong>Type:</strong>
      <%= @notification.ntype %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= @notification.text %>
    </p>
</div>